<div class="user-details">
  <h1> Mobile Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Solar System" src="{{ "/assets/img/solar.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Solar System </h3>
    <ul>
      <li> Flutter, Dart </li>
    </ul>
    <p>A Flutter app to explore the solar system, with facts about each planet like mass, volume, density and gravity.</p>
    <!-- no live link yet: add the GitHub repo or store listing here once available -->
    <a class="project-link">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <!-- placeholder image: swap for a real screenshot/gif of qrCodeScanner -->
    <img alt="QR Code Scanner" src="{{ "/assets/img/teclado.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> QR Code Scanner </h3>
    <ul>
      <li> Flutter, Dart, Mobile Camera APIs </li>
    </ul>
    <p>A Flutter mobile app that scans QR codes using the device camera and reads their contents.</p>
    <a class="project-link" target="_blank" href="https://github.com/ALaurinne/qrCodeScanner">View on GitHub</a>
  </div>
</div>
