<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        <div class="section-inner">
          {% include about.html %}
        </div>
      </section>
      <section id="dataprojects">
        <div class="section-inner">
          {% include dataprojects.html %}
        </div>
      </section>
      <section id="academicprojects">
        <div class="section-inner">
          {% include academicprojects.html %}
        </div>
      </section>
      <section id="gameprojects">
        <div class="section-inner">
          {% include gameprojects.html %}
        </div>
      </section>
      {% include footer.html %}
  </body>
